<!DOCTYPE html>
<html lang="vi">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Danh sách doanh nghiệp">
   <meta name="author" content="Webartinfo">
   <title>Danh sách doanh nghiệp</title>
   <link rel="icon" type="image/png" href="img/favicon.png">
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
   <link href="vendor/select2/css/select2-bootstrap.css" />
   <link href="vendor/select2/css/select2.min.css" rel="stylesheet" />
   <link href="css/style.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
   <!-- Navbar -->
   <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container">
            <a class="navbar-brand text-success logo" href="index.html">
               <img class="img-fluid" src="img/logo.svg" alt="">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bài đăng</a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="properties-grid.html">Cơ sở phế liệu</a>
                        <a class="dropdown-item" href="business-list.html">Doanh nghiệp</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Người bán</a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="agency-list.html">Cơ sở phế liệu</a>
                        <a class="dropdown-item" href="business-list.html">Doanh nghiệp</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hồ sơ</a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="user-profile.html">Hồ sơ cá nhân</a>
                        <a class="dropdown-item" href="social-profiles.html">Mạng xã hội</a>
                        <a class="dropdown-item" href="my-properties.html">Bài đăng của tôi</a>
                        <a class="dropdown-item" href="add-property.html">Thêm bài đăng</a>
                     </div>
                  </li>
               </ul>
               <div class="my-2 my-lg-0">
                  <ul class="list-inline main-nav-right">
                     <li class="list-inline-item"><a class="btn btn-link btn-sm" href="login.html">Đăng nhập</a></li>
                     <li class="list-inline-item"><a class="btn btn-success btn-sm" href="register.html">Đăng ký</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
   </header>
   <!-- End Navbar -->
   <!-- Inner Header -->
   <section class="section-padding bg-dark inner-header">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1 class="mt-0 mb-3 text-white">Danh sách doanh nghiệp phế liệu</h1>
               <div class="breadcrumbs">
                  <p class="mb-0 text-white"><a class="text-white" href="index.html">Trang chủ</a> / <span class="text-success">Danh sách doanh nghiệp</span></p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Inner Header -->
   <!-- Business List -->
   <section class="section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="card card-list card-list-view">
                        <a href="business-profile.html?id=moitruongxanh">
                           <div class="row no-gutters">
                              <div class="col-lg-4 col-md-4">                
                                 <span class="badge badge-success">Doanh nghiệp lớn</span>
                                 <img class="card-img-top logo-img-fixed" src="img/company/business1.jpg" alt="Công ty TNHH Môi Trường Xanh">
                              </div>
                              <div class="col-lg-8 col-md-8">
                                 <div class="card-body">
                                    <h3>Công ty TNHH Môi Trường Xanh</h3>
                                    <h6 class="card-subtitle mt-1 mb-4 text-muted"><i class="mdi mdi-home-map-marker"></i> TP.HCM, Hà Nội, Bình Dương</h6>
                                    <p class="mb-0">Chuyên xử lý, thu gom, tái chế phế liệu công nghiệp, cung cấp dịch vụ môi trường, tư vấn giải pháp xanh cho doanh nghiệp.</p>
                                 </div>
                                 <div class="card-footer">
                                    <span><i class="mdi mdi-phone"></i> 0901 234 567</span>
                                    <span><i class="mdi mdi-email"></i> info@moitruongxanh.com</span>
                                    <span><i class="mdi mdi-link"></i> www.moitruongxanh.com</span>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                     <div class="card card-list card-list-view">
                        <a href="business-profile.html?id=taicheviet">
                           <div class="row no-gutters">
                              <div class="col-lg-4 col-md-4">                
                                 <span class="badge badge-info">Doanh nghiệp xanh</span>
                                 <img class="card-img-top logo-img-fixed" src="img/company/business2.jpg" alt="Công ty CP Tái Chế Việt">
                              </div>
                              <div class="col-lg-8 col-md-8">
                                 <div class="card-body">
                                    <h3>Công ty CP Tái Chế Việt</h3>
                                    <h6 class="card-subtitle mt-1 mb-4 text-muted"><i class="mdi mdi-home-map-marker"></i> Bình Dương, Đồng Nai</h6>
                                    <p class="mb-0">Đơn vị tiên phong trong lĩnh vực tái chế phế liệu, cung cấp giải pháp xử lý chất thải công nghiệp, hỗ trợ doanh nghiệp phát triển bền vững.</p>
                                 </div>
                                 <div class="card-footer">
                                    <span><i class="mdi mdi-phone"></i> 0987 654 321</span>
                                    <span><i class="mdi mdi-email"></i> contact@taicheviet.com</span>
                                    <span><i class="mdi mdi-link"></i> www.taicheviet.com</span>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                     <div class="card card-list card-list-view">
                        <a href="business-profile.html?id=phelieusaigon">
                           <div class="row no-gutters">
                              <div class="col-lg-4 col-md-4">                
                                 <span class="badge badge-primary">Doanh nghiệp uy tín</span>
                                 <img class="card-img-top logo-img-fixed" src="img/company/business3.jpg" alt="Công ty TNHH Phế Liệu Sài Gòn">
                              </div>
                              <div class="col-lg-8 col-md-8">
                                 <div class="card-body">
                                    <h3>Công ty TNHH Phế Liệu Sài Gòn</h3>
                                    <h6 class="card-subtitle mt-1 mb-4 text-muted"><i class="mdi mdi-home-map-marker"></i> TP.HCM</h6>
                                    <p class="mb-0">Chuyên thu gom, phân loại, xử lý phế liệu kim loại, phi kim, cung cấp dịch vụ thu mua tận nơi cho doanh nghiệp và cá nhân.</p>
                                 </div>
                                 <div class="card-footer">
                                    <span><i class="mdi mdi-phone"></i> 0912 345 678</span>
                                    <span><i class="mdi mdi-email"></i> sales@phelieusaigon.com</span>
                                    <span><i class="mdi mdi-link"></i> www.phelieusaigon.com</span>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <!-- Thêm các doanh nghiệp khác tương tự tại đây -->
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Business List -->
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="vendor/select2/js/select2.min.js"></script>
   <script src="js/custom.js"></script>
</body>
</html>
