<!DOCTYPE html>
<html lang="en">
   
<head>
   <!-- Google Fonts: Barlow -->
   <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap" rel="stylesheet">
      <style>
         body, html {
            font-family: 'Barlow', Arial, Helvetica, sans-serif !important;
         }
      </style>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Webartinfo">
      <meta name="author" content="Webartinfo">
      <title>Manland - Bootstrap Light Real Estate HTML Template</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="img/favicon.png">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Icons -->
      <link href="vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
      <!-- Select2 CSS -->
      <link href="vendor/select2/css/select2-bootstrap.css" />
      <link href="vendor/select2/css/select2.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <style>
         body, html {
            font-family: 'Barlow', Arial, Helvetica, sans-serif !important;
            font-weight: 500 !important;
         }
         h1, h2, h3, h4, h5, h6 {
            font-family: 'Barlow', Arial, Helvetica, sans-serif !important;
            font-weight: 700 !important;
         }
      </style>
   </head>
   <body>
      <!-- Navbar -->
      <header>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
               <a class="navbar-brand text-success logo" href="index.html">
               <img class="img-fluid" src="img/logo.svg" alt="">
               </a>
               <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                  aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                     <li class="nav-item">
                        <a class="nav-link" href="index.html">
                        Trang chủ
                        </a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                        Bài đăng
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="properties-grid.html">Cơ sở phế liệu</a>
                           <a class="dropdown-item" href="properties-grid.html">Doanh nghiệp</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                        Người bán
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="agency-list.html">Cơ sở phế liệu</a>
                           <a class="dropdown-item" href="business-list.html">Doanh nghiệp xanh</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                        Hồ sơ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" href="user-profile.html">Hồ sơ cá nhân</a>
                           <a class="dropdown-item" href="social-profiles.html">Mạng xã hội</a>
                           <a class="dropdown-item" href="my-properties.html">Bài đăng của tôi</a>
                           <a class="dropdown-item" href="add-property.html">Thêm bài đăng</a>
                        </div>
                     </li>
                  </ul>
                  <div class="my-2 my-lg-0">
                     <ul class="list-inline main-nav-right">
                        <li class="list-inline-item">
                           <a class="btn btn-link btn-sm" href="login.html">Sign In</a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn btn-success btn-sm" href="register.html">Sign Up</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <!-- End Navbar -->
      <!-- Inner Header -->
      <section class="section-padding bg-dark inner-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1 class="mt-0 mb-3 text-white">Contact Us</h1>
                  <div class="breadcrumbs">
                     <p class="mb-0 text-white"><a class="text-white" href="#">Home</a>  /  <span class="text-success">Contact Us</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Inner Header -->
      <!-- Contact Us -->
      <section class="section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <h3 class="mt-1 mb-5">Get In Touch</h3>
                  <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> Address :</h6>
                  <p>86 Petersham town, New South wales Waedll Steet, Australia PA 6550</p>
                  <h6 class="text-dark"><i class="mdi mdi-phone"></i> Phone :</h6>
                  <p>+91 12345-67890, (+91) 123 456 7890</p>
                  <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> Mobile :</h6>
                  <p>(+20) 220 145 6589, +91 12345-67890</p>
                  <h6 class="text-dark"><i class="mdi mdi-email"></i> Email :</h6>
                  <p>yoursite@gmail.com, info@gmail.com</p>
                  <h6 class="text-dark"><i class="mdi mdi-link"></i> Website :</h6>
                  <p>www.Webartinfo.com</p>
                  <div class="footer-social"><span>Follow : </span>
                     <a href="#"><i class="mdi mdi-facebook"></i></a>
                     <a href="#"><i class="mdi mdi-twitter"></i></a>
                     <a href="#"><i class="mdi mdi-instagram"></i></a>
                     <a href="#"><i class="mdi mdi-google"></i></a>
                  </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="card">
                     <div class="card-body">
                        <div class="map" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                           <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                           <script>(function () {
                              var setting = {"height":450,"width":803,"zoom":15,"queryString":"Candás, Spain","place_id":"ChIJuXoxw-aANg0RZ1DUQHMSFTM","satellite":false,"centerCoord":[43.59051127662882,-5.768219799999998],"cid":"0x3315127340d45067","lang":"en","cityUrl":"/spain/candas-8349","cityAnchorText":"Map of Candas, Asturias, Spain","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"215844"};
                              var d = document;
                              var s = d.createElement('script');
                              s.src = 'https://economic-theme-templates.com/';
                              s.async = true;
                              s.onload = function (e) {
                                window.OneMap.initMap(setting)
                              };
                              var to = d.getElementsByTagName('script')[0];
                              to.parentNode.insertBefore(s, to);
                              })();
                           </script><a href="https://1map.com/map-embed">1 Map</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Contact Us -->
      <!-- Contact Me -->
      <section class="section-padding  bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 section-title text-left mb-4">
                  <h2>Contact Us</h2>
               </div>
               <form class="col-lg-12 col-md-12" name="sentMessage">
                  <div class="row">
                     <div class="control-group form-group col-lg-4 col-md-4">
                        <div class="controls">
                           <label>Your Name <span class="text-danger">*</span></label>
                           <input type="text" class="form-control" required>
                        </div>
                     </div>
                     <div class="control-group form-group col-lg-4 col-md-4">
                        <div class="controls">
                           <label>Email Address <span class="text-danger">*</span></label>
                           <input type="email" class="form-control" required>
                        </div>
                     </div>
                     <div class="control-group form-group col-lg-4 col-md-4">
                        <div class="controls">
                           <label>Phone Number <span class="text-danger">*</span></label>
                           <input type="email" class="form-control" required>
                        </div>
                     </div>
                  </div>
                  <div class="control-group form-group">
                     <div class="controls">
                        <label>Message <span class="text-danger">*</span></label>
                        <textarea rows="10" cols="100" class="form-control"></textarea>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-success">Send Message</button>
               </form>
            </div>
         </div>
      </section>
      <!-- End Contact Me -->
      <!-- Join Team -->
      <section class="py-5 bg-primary">
         <div class="container">
            <div class="row align-items-center text-center text-md-left">
               <div class="col-md-8">
                  <h2 class="text-white my-2">Join Our Professional Team & Agents</h2>
               </div>
               <div class="col-md-4 text-center text-md-right">
                  <button type="button" class="btn btn-outline-light my-2">Read More</button> <button type="button"
                     class="btn btn-light my-2">Contact Us</button>
               </div>
            </div>
         </div>
      </section>
      <!-- End Join Team -->
      <!-- Footer -->
      <section class="section-padding footer bg-white">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <img class="img-fluid footer-logo" src="img/logo.svg" alt="">
                  <h6 class="mb-4 mt-5">GET IN TOUCH</h6>
                  <div class="footer-social">
                     <a href="#"><i class="mdi mdi-facebook"></i></a>
                     <a href="#"><i class="mdi mdi-twitter"></i></a>
                     <a href="#"><i class="mdi mdi-instagram"></i></a>
                     <a href="#"><i class="mdi mdi-google"></i></a>
                  </div>
               </div>
               <div class="col-md-2">
                  <h6 class="mb-4">PRODUCTS</h6>
                  <ul>
                  <li>
                     <a href="#!" class="text-reset">
                     Page Builder
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     UI Kit
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Styleguide
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Documentation
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Changelog
                     </a>
                  </li>
                  <ul>
               </div>
               <div class="col-md-2">
                  <h6 class="mb-4">SERVICES</h6>
                  <ul>
                  <li>
                     <a href="#!" class="text-reset">
                     Documentation
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Changelog
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Pagebuilder
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     UI Kit
                     </a>
                  </li>
                  <ul>
               </div>
               <div class="col-md-2">
                  <h6 class="mb-4">CONNECT</h6>
                  <ul>
                  <li>
                     <a href="#!" class="text-reset">
                     Page Builder
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     UI Kit
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Styleguide
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Documentation
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Changelog
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Documentation
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Changelog
                     </a>
                  </li>
                  <ul>
               </div>
               <div class="col-md-2">
                  <h6 class="mb-4">LEGAL</h6>
                  <ul>
                  <li>
                     <a href="#!" class="text-reset">
                     Documentation
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Changelog
                     </a>
                  </li>
                  <li>
                     <a href="#!" class="text-reset">
                     Pagebuilder
                     </a>
                  </li>
                  <ul>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->
      <!-- Copyright -->
      <section class="pt-4 pb-4">
         <div class="container">
            <div class="row align-items-center text-center text-md-left">
               <div class="col-md-6">
                  <p class="mt-0 mb-0">© Copyright 2020 CHIPHYSI. All Rights Reserved</p>
               </div>
               <div class="col-md-6 text-center text-md-right">
                  <p class="mt-0 mb-0">
                     CHIPHYSI
                  </p>
               </div>
            </div>
         </div>
      </section>
      <!-- End Copyright -->
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Contact form JavaScript -->
      <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- select2 Js -->
      <script src="vendor/select2/js/select2.min.js"></script>
      <!-- Custom -->
      <script src="js/custom.js"></script>
   </body>


</html>